<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end" class="edit_icon" (click)="showEdit()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-buttons> -->
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="details_view">
    <ion-card>
      <ion-card-header>
        <ion-card-title> <ion-icon name="location-outline"></ion-icon> {{detailsData?.city}}</ion-card-title>
        <ion-card-subtitle><ion-icon name="navigate-outline"></ion-icon> {{detailsData?.district}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{detailsData?.address}}</p>
        <p>{{detailsData?.description}}</p>
        <div class="call"><a href="tel:{{detailsData?.mobile}}"><ion-icon name="call-outline"></ion-icon><span>{{detailsData?.mobile}}</span></a></div>
        <div *ngIf="detailsData?.mobile2" class="call"><a href="tel:{{detailsData?.mobile2}}"><ion-icon name="call-outline"></ion-icon><span>{{detailsData?.mobile2}}</span></a></div>
        <div *ngIf="detailsData?.mobile3" class="call"><a href="tel:{{detailsData?.mobile3}}"><ion-icon name="call-outline"></ion-icon><span>{{detailsData?.mobile3}}</span></a></div>
        <div *ngIf="detailsData?.mobile4" class="call"><a href="tel:{{detailsData?.mobile4}}"><ion-icon name="call-outline"></ion-icon><span>{{detailsData?.mobile4}}</span></a></div>
        <div *ngIf="detailsData?.mobile5" class="call"><a href="tel:{{detailsData?.mobile5}}"><ion-icon name="call-outline"></ion-icon><span>{{detailsData?.mobile5}}</span></a></div>
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>


