<ion-tabs>

  <!-- <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab1">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Add</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>List</ion-label>
    </ion-tab-button>


  </ion-tab-bar> -->

</ion-tabs>
