<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Add Ambulance
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Add Ambulance</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-content>

   

      <div class="pading20">

    <form [formGroup]="ambForm">

        <ion-item lines="full">
            <ion-label>District*</ion-label>
            <ion-select [interfaceOptions]="customAlertOptions" interface="alert"  placeholder="Select district" formControlName="district">
                <ion-select-option *ngFor="let list of dist">{{list}}</ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngIf="submitted && val.district.errors" class="invalid-feedback">
            <div *ngIf="val.district.errors.required">Select District</div>
        </div>
      
      
      <ion-item lines="full">
        <ion-label position="floating">Address*</ion-label>
        <ion-input type="text" formControlName="address"></ion-input>
        <div *ngIf="submitted && val.address.errors" class="invalid-feedback">
          <div *ngIf="val.address.errors.required">Enter Address</div>
      </div>
      </ion-item>
      
  
      <ion-item lines="full">
        <ion-label position="floating">Area*</ion-label>
        <ion-input type="text" formControlName="area" ></ion-input>
        <div *ngIf="submitted && val.area.errors" class="invalid-feedback">
          <div *ngIf="val.area.errors.required">Enter Area</div>
      </div>
      </ion-item>
      

      <ion-item lines="full">
        <ion-label position="floating">City*</ion-label>
        <ion-input type="text" formControlName="city"></ion-input>
        <div *ngIf="submitted && val.city.errors" class="invalid-feedback">
          <div *ngIf="val.city.errors.required">Enter City</div>
      </div>
      </ion-item>
     
   

      <ion-item lines="full">
        <ion-label position="floating">Description</ion-label>
        <ion-input type="text" formControlName="description"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Mobile * </ion-label>
        <ion-input type="number" formControlName="mobile" maxlength="10"></ion-input>
        <div *ngIf="submitted && val.mobile.errors" class="invalid-feedback">
          <div *ngIf="val.mobile.errors.required">Enter Mobile Number</div>
          <div *ngIf="val.mobile.errors.min">Enter valid mobile Number</div>
          <div *ngIf="val.mobile.errors.max">Enter valid mobile Number</div>
      </div>
      </ion-item>

      <ion-item lines="full" *ngIf="noOfMobile>=2">
        <ion-label position="floating">Mobile 2* </ion-label>
        <ion-input type="number" formControlName="mobile2" maxlength="10"></ion-input>
        <div *ngIf="submitted && val.mobile.errors" class="invalid-feedback">
          <div *ngIf="val.mobile2.errors.required">Enter Mobile Number</div>
          <div *ngIf="val.mobile2.errors.min">Enter valid mobile Number</div>
          <div *ngIf="val.mobile2.errors.max">Enter valid mobile Number</div>
      </div>
      </ion-item>

      <ion-item lines="full" *ngIf="noOfMobile>=3">
        <ion-label position="floating">Mobile 3* </ion-label>
        <ion-input type="number" formControlName="mobile3" maxlength="10"></ion-input>
        <div *ngIf="submitted && val.mobile.errors" class="invalid-feedback">
          <div *ngIf="val.mobile3.errors.required">Enter Mobile Number</div>
          <div *ngIf="val.mobile3.errors.min">Enter valid mobile Number</div>
          <div *ngIf="val.mobile3.errors.max">Enter valid mobile Number</div>
      </div>
      </ion-item>

      <ion-item lines="full" *ngIf="noOfMobile>=4">
        <ion-label position="floating">Mobile 4* </ion-label>
        <ion-input type="number" formControlName="mobile4" maxlength="10"></ion-input>
        <div *ngIf="submitted && val.mobile.errors" class="invalid-feedback">
          <div *ngIf="val.mobile4.errors.required">Enter Mobile Number</div>
          <div *ngIf="val.mobile4.errors.min">Enter valid mobile Number</div>
          <div *ngIf="val.mobile4.errors.max">Enter valid mobile Number</div>
      </div>
      </ion-item>

      <ion-item lines="full" *ngIf="noOfMobile>=5">
        <ion-label position="floating">Mobile 5* </ion-label>
        <ion-input type="number" formControlName="mobile5" maxlength="10"></ion-input>
        <div *ngIf="submitted && val.mobile.errors" class="invalid-feedback">
          <div *ngIf="val.mobile5.errors.required">Enter Mobile Number</div>
          <div *ngIf="val.mobile5.errors.min">Enter valid mobile Number</div>
          <div *ngIf="val.mobile5.errors.max">Enter valid mobile Number</div>
      </div>
      </ion-item>

      <button *ngIf="noOfMobile<=4" class="add_mobile" (click)="addMobilenumber()">+ Add mobile</button>
      

      <ion-col class="flex">
        <button class="submit_btn" type="submit" expand="block" (click)="submitValues() ">Submit</button>
        <button class="submit_btn clear_btn" type="submit" expand="block" (click)="clearvalue() ">Clear</button>
      </ion-col>
   
 
    </form>
    </div>
  </ion-content>


</ion-content>
