<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end" class="top_icons">
      <ion-button *ngIf="loadservice.hasUser" class="style" routerLink="tab1"
        >Add Ambulance</ion-button
      >
      <ion-icon
        *ngIf="!searchOpen"
        name="search-outline"
        (click)="search()"
      ></ion-icon>
      <ion-icon
        *ngIf="searchOpen"
        name="close-outline"
        (click)="search()"
      ></ion-icon>
      <i class="fas fa-user-alt ownStyle" > {{showUserName}}</i>

      <ion-button class="style" (click)="logOut()">Log Out</ion-button>
      <!-- <ion-icon name="add-outline" (click)="navgatetoAdd()"></ion-icon> -->
    </ion-buttons>

    <ion-title> Ambulances </ion-title>
  </ion-toolbar>
  <div class="filters" *ngIf="searchOpen">
    <ion-select
      class="filterby"
      [(ngModel)]="searchValue"
      (ionChange)="changedrop(searchValue)"
    >
      <ion-select-option value="{{lists}}" *ngFor="let lists of dist"
        >{{lists}}</ion-select-option
      >
    </ion-select>

    <!-- <ion-searchbar class="filter_search" placeholder="Search All" [(ngModel)]="searchValues"></ion-searchbar> -->
    <ion-searchbar
      class="filter_search"
      placeholder="Search"
      [(ngModel)]="citySearchValue"
      (ionChange)="searchChangeMethod()"
    ></ion-searchbar>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ambulances</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="list_page">
    <!-- <ion-list>
      <ion-item *ngFor="let item of allinnderDatas">
        <ion-label (click)="navigate(item.district)">{{item}}</ion-label>
      </ion-item>
      </ion-list> -->

    <div class="values" [ngClass]="{'margin': searchOpen}">
      <!-- <ion-item-sliding *ngFor="let item of allinnderDatas | multiSearch : searchValues: filterBy" >
 
      <ion-item  class="item_list" (click)="navigate(item)">
        <ion-avatar slot="start">
          <img src="./avatar-han.png">
        </ion-avatar>
        <ion-label>
          <h2><ion-icon name="location-outline"></ion-icon> {{item.city}}</h2>
          <h3><ion-icon name="navigate-outline"></ion-icon> {{item.district}}</h3>
          <p><ion-icon name="call-outline"></ion-icon> {{item.mobile}}</p>
          <p *ngIf="item.mobile2"><ion-icon name="call-outline"></ion-icon> {{item.mobile2}}</p>
          <p *ngIf="item.mobile3"><ion-icon name="call-outline"></ion-icon> {{item.mobile3}}</p>
          <p *ngIf="item.mobile4"><ion-icon name="call-outline"></ion-icon> {{item.mobile4}}</p>
          <p *ngIf="item.mobile5"><ion-icon name="call-outline"></ion-icon> {{item.mobile5}}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="start" (click)="deleteitem(item.id)">
        <ion-item-option color="danger" >
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding> -->

      <ion-item
        class="item_list"
        *ngFor="let item of allinnderDatas | multiSearch2 : searchValue :citySearchValue"
        (click)="navigate(item)"
      >
        <!-- <ion-avatar slot="start">
        <img src="./avatar-han.png">
      </ion-avatar> -->
        <ion-label>
          <h2><ion-icon name="location-outline"></ion-icon> {{item.city}}</h2>
          <h3>
            <ion-icon name="navigate-outline"></ion-icon> {{item.district}}
          </h3>
          <p><ion-icon name="call-outline"></ion-icon> {{item.mobile}}</p>
          <p *ngIf="item.mobile2">
            <ion-icon name="call-outline"></ion-icon> {{item.mobile2}}
          </p>
          <p *ngIf="item.mobile3">
            <ion-icon name="call-outline"></ion-icon> {{item.mobile3}}
          </p>
          <p *ngIf="item.mobile4">
            <ion-icon name="call-outline"></ion-icon> {{item.mobile4}}
          </p>
          <p *ngIf="item.mobile5">
            <ion-icon name="call-outline"></ion-icon> {{item.mobile5}}
          </p>
        </ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>
