ion-select::part(text){
    color: #8c8a8a;
    font-size: 18px;
    padding: 2.5px;
}
ion-select::part(placeholder){
    font-size: 16px;
}

.style{
    border: 1px solid lightskyblue;
    border-radius: 15px;
    background: deepskyblue;
    color: whitesmoke;
}

.ownStyle{
    border: 1px solid rgb(87, 178, 231);
    border-radius: 10px;
    padding: 3px;
    background: deepskyblue;
    color: ghostwhite;
}
