<ion-app>
  <ion-router-outlet *ngIf="isbindroot"></ion-router-outlet>
</ion-app>



<div class="load_div" *ngIf="loadservice.isLoading">
  <img src="../assets/image/favicon.gif">
</div>

<div class="splash" *ngIf="!isbindroot">
  <img src="../assets/image/splash2.gif">
</div>