
<div class="" *ngIf=" service.showImages then Image;else logIn "></div>

<ng-template #logIn >
   
    <div *ngIf="showAlert" class="container">
   
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
           Registration successful.
          </div>
    </div>
    
    
    <div class="card logIN ">
        <h4 class="card-header">Login</h4>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">User Name</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': f.username.touched && f.username.errors }" />
                    <div *ngIf="f.username.touched && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }" />
                    <div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                    <a routerLink="../register" class="btn btn-link">Register</a>
                </div>
            </form>
        </div>
    </div>
</ng-template>
<ng-template #Image>
    <div class=""  >
        <img src="assets/images/welcome.jpg" name="name">
    </div>
</ng-template>
