/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/* Set the width to the full container and center the content */
ion-select {
    width: 100%;
  
    justify-content: center;
  }
  
  /* Set the flex in order to size the text width to its content */
  ion-select::part(placeholder),
  ion-select::part(text) {
    flex: 0 0 auto;
  }
  
  /* Set the placeholder color and opacity */
  ion-select::part(placeholder) {
    color: #bfbebe;
    opacity: 1;
  }
  
  /*
   * Set the font of the first letter of the placeholder
   * Shadow parts work with pseudo-elements, too!
   * https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements
   */
  ion-select::part(placeholder)::first-letter {
    font-size: 24px;
    font-weight: 500;
  }
  
  /* Set the text color */
  ion-select::part(text) {
    color: #545ca7;
  }
  
  /* Set the icon color and opacity */
  ion-select::part(icon) {
    color: #ddd;
    opacity: 1;
  }

  ion-select {
    /* Applies to the value and placeholder color */
    color: #545ca7;
  
    /* Set a different placeholder color */
    --placeholder-color: #ddd;
  
    /* Set full opacity on the placeholder */
    --placeholder-opacity: 1;
  }

  .load_div{position:relative;height:100%;width:100%;background:rgba(130,118,118,.57)}
  .load_div img{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto}

    .bd_img img{ height: 100%;
      width: 100%;}

  .pading20{padding: 20px;}
  .details_view ion-card-content{ padding-bottom: 0px;}
  .details_view .call{    color: #000;
    padding: 10px 0px 0px 0px;
    padding-left: 0;
    float: left;
    width: 100%;}
    .details_view .call a{ color: #000;}
    .details_view .call span{ margin: 6px 0px;
      float: left;
      font-size: 15px;
    }
    .details_view .call ion-icon{  
      margin-right: 10px;
      padding: 10px;
      background: #ddd;
      border-radius: 50%;
      float: left;
  }
  .details_view ion-card-content p{    font-size: 15px;}

  .list_page .item_list h2{    font-weight: 400;
    margin-bottom: 5px;
    font-size: 22px;}
  .list_page .item_list h3{ 
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 17px;
  }
  .list_page .item_list p{ 
    float: left;
    width: 100%;
    margin-bottom: 5px;
    font-size: 17px;
  }

  .top_icons { font-size: 20px;
    margin-right: 10px;}
  .top_icons ion-icon{     margin: 0px 5px;
    background: #ddd;
    padding: 5px;
    border-radius: 50%; }

    .loading{    position: absolute;
    width: 100%;
    height: 100%;
    background: #82767691;}

.loading span{    display: inherit;
  width: 220px;
  margin: auto;
  height: 100%;}

.splash{
  width: 100%;
  height: 100%;
}
.splash img{  width: 100%;
  height: 100%;}

.button-native{ background: #3880ff !important;}

.invalid-feedback{    color: #dc3545; padding-top: 5px ;}

.flex{display: flex;}
.submit_btn{
  float: left;
    width: 50%;
    padding: 10px;
    margin: 5px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 18px;
    background: #3880ff;
    color: #fff;
    text-transform: uppercase;
    outline: none;
}
.submit_btn.clear_btn{     background-color: #fff;
  color: #3880ff;
  outline: none;
}
.edit_icon {
  font-size: 22px;
  margin-right: 15px;
  padding: 5px 5px 7px 8px;
  background: #ddd;
  border-radius: 50%;
}

.filters{ 
  float: left;
  width: 100%;
  /* position: fixed; */
  background: #fff;
  z-index: 999;
  // margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
 }

.filters .filterby{  
  width: 96%;
  float: left;
  margin-top: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 4px 0px;
  font-size: 23px;
  margin: 0% 2%;
}

.filterby::part(icon){    color: #ddd;
  opacity: 1;
  right: -21px;}

  .filters .filter_search{
    width: 100%;
    float: left;
    margin-top: 2px;
  }

.list_page{
  float: left;
  width: 100%;
}

.add_mobile{
  background: #3880ff;
  font-size: 18px;
  margin-top: 10px;
  color: #fff;
  padding: 5px 9px 5px 5px;
  border-radius: 5px;
}

.details_view ion-card{ padding-bottom: 10px;}

.values{
  float: left;
  width: 100%;
}

.values.margin{
  // margin-top: 60px;
}

.overlay.visible { 
  opacity: 1;
  visibility: visible;
  z-index: 999;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 25px auto;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 5px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .popup{
    width: 90%;
  }
}

